body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Puts the image behind the button */
}

.overlay-button {
    position: absolute;
    top: 43.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 22px;
    background-color: rgb(173, 0, 46);
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1; /* Ensures the button is above the image */
    font-size: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: auto; 
    animation: spin 8s cubic-bezier(0.1, 0.7, 0.1, 1) infinite; /* Accelerating spinning animation */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

